 #map {
  width: 99%;
  height: 99%;
}

#map-container{
  margin: 0 auto;
  height: 80%;
  width: 80%;
}

body, html {
  height: 100%;
  width: 100%;
}

  #floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }
.container {
  width: 80%;
  margin: center;
  margin: 0 auto;
}

div.fixed {
    position: fixed;
    bottom: 0;
    right: 50%;
    text-align: center;
   }


textarea {
    resize: none;
}
