<center>
	<h1>Welcome to Listeners</h1>
	<h4>Where you can hire someone to listen to your thoughts on..</h4>
</center>

<br><br>
<div id='map-container'>
<% if current_user %>

  <div id="form-div-button">
    <center>
     <a href="/locations/new" id="new-listener" type="button" class="btn btn-danger btn-lg">Add A New Listeners</button></a>
    </center>
  </div>

   <div id="form-div">

   </div>
<% end %>
<br>



	<div class="img-rounded" id="map"></div>
</div><br><br><br><br>


